*
!/PKGBUILD
!/.SRCINFO
!/.gitignore
!/README.md
!/config.h
!/dwl-bemenu-run
!/dwl-colors
!/dwl-apply-toolkit-theme
!/dwl-startup
!/dwl-wallpaper
!/dwl-wallust-refresh
!/dwlb-status
!/dwlb-launch
!/dwl-runtime-colors.patch
!/dwl-ipc.patch
!/dwl-ipc-unstable-v2.xml
!/nitrogen
!/start-dwl
